*{

margin: 0%;

padding: 0;


font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}


.cabeca{

display: flex;


justify-content: space-evenly;


background-color: black;

padding: 60px;

align-items: center;


flex-wrap: wrap;

}



.cabeca i{



background-color: chocolate;

font-size: 100px;


}


.menu{
display: flex;


}

.menu li{

    margin-left: 1opx;
list-style: 10px;


}

.secao{




   
padding: 800px;


flex-wrap: wrap;
        max-width: 800px;
        /*adptaçao da imagem*/
        margin: 0 auto;
        /* centralizar as div*/
        margin-bottom: 80px;
        text-align: center;




}



.secao img{


display: block;


}



